.app {
  width: 100vw;
  min-height: 100vh;
  background-color: #202733;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.defaultPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

p {
  margin-top: 1rem
}